.addUser-image{
  display: flex;
  justify-content: center;
  align-items: center;

}
.add-user .ant-upload-select-picture-card, .add-user .ant-upload-list-picture-card .ant-upload-list-item {
width: 200px !important;
height: 200px !important;
}